#app{
	padding-top:20px;
}

.townSpan , #Jailor > td{
	color:#45BF00;
}

.table td{
	color:#49A9D0;
}

#Godfather > td , #Mafioso > td , #RandomMafia > td, #RandomMafia2 > td, .mafiaSpan {
	color:red;
}

.neutralSpan {
	color:gray;
}

.werewolfSpan {
    color: #744A26;
}

.amnesiacSpan {
    color: #4FF0E8;
}

.skSpan {
    color: #000080;
}

.arsonistSpan {
    color: #EE7600;
}

.survivorSpan {
    color: #C8C800;
}

.witchSpan {
    color: #BF5FFF;
}

.jesterSpan {
    color: #F49FD0;
}

table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

tr td p{
	cursor: not-allowed;
}
